body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: linear-gradient(45deg, #B3CCDD, #6593F5, #0F2027);
  padding: 2px;
  color: white; /* Change the text color to white for better visibility */
}

main {
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-items: center;
}

.hide-element {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px; /* Added this line */
}

.input-output-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 20px;
  padding-left: 50px;
  width: 100%;
}

.input-section, .output-section {
  width: 50%;
}

.input-section label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.input-section input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
}

.input-section input[type="number"] {
  width: 20%;
}

.input-section span {
  margin-left: 10px;
  min-width: 60px;
  text-align: right;
}

.slider-container {
  display: flex;
  align-items: center; /* Vertically center the elements */
  margin-bottom: 15px;
}

.slider-container .noUi-horizontal {
  height: 8px; /* Adjust the height of the slider track */
}

.output-section p {
  display: block;
}

.noUi-target {
    height: 5px;  /* Reduced from 10px to 5px */
    width: 50%;
    background: #E8E8E8;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #BBB;
}



.noUi-connect {
    background: #3D7EBA;
    box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.slider-container .noUi-handle {
  width: 0;
  height: 0;
  border: 0;
  background: none;
  box-shadow: none;
  outline: none;
}

.slider-container .noUi-handle:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #6593F5;
  border-radius: 50%;
  position: relative;
  left: -10px;
  box-shadow: 0 0 5px #3D7EBA;
}

.content {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.visualization-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 300px;
  width: 100%;
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
  width: 100%;
  padding-right: 30px; /* Adjust this value as needed */
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 15px; 
}

.switch input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 15px; /* Reduced this value */
}

label[for="scaleSwitch"] {
  font-size: 10px; /* Adjust this value as needed */
}

   
