body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: linear-gradient(45deg, #B3CCDD, #6593F5, #0F2027);
  padding: 2px;
  color: white; /* Change the text color to white for better visibility */
}


main {
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-items: center;
}

.hide-element {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px; /* Added this line */
}

.input-output-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 20px;
  padding-left: 50px;
  width: 100%;
}

.input-section, .output-section {
  width: 50%;
}

.input-section label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.input-section input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
}

.input-section input[type="number"] {
  width: 20%;
}

.input-section span {
  margin-left: 10px;
  min-width: 60px;
  text-align: right;
}

.output-section p {
  display: block;
}

/* Chrome */
input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0F2027 0%, #0F2027 50%, #6593F5 50%, #6593F5 100%);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #0F2027;
  border-radius: 50%;
}

/* Firefox */
input[type=range]::-moz-range-track {
  background: linear-gradient(to right, #0F2027 0%, #0F2027 50%, #6593F5 50%, #6593F5 100%);
}

input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #0F2027;
  border-radius: 50%;
}

/* IE */
input[type=range]::-ms-track {
  background: linear-gradient(to right, #0F2027 0%, #0F2027 50%, #6593F5 50%, #6593F5 100%);
  color: transparent; /* Removes the color from the slider track */
}

input[type=range]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #0F2027;
  border-radius: 50%;
}

.noUi-target {
    height: 10px;
    width: 50%;
}

.collapsible {
  cursor: pointer;
  border: 1px solid #6593F5; /* Adjust the color as needed */
  outline: none;
  width: 100%;
  background: linear-gradient(45deg, #B3CCDD, #6593F5, #0F2027); /* Same gradient as the header */
  color: white; /* Adjust the text color so it's visible against the gradient */
}


.content {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.visualization-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 300px;
  width: 100%;
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
  width: 100%;
  padding-right: 30px; /* Adjust this value as needed */
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 15px; 
}

.switch input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 15px; /* Reduced this value */
}

label[for="scaleSwitch"] {
  font-size: 10px; /* Adjust this value as needed */
}

